extends layout

block content
  h1 About Flex Automation:
    h2
      p Flex provides sustainable solutions and products geared to residential
       and commercial environments. We deployed a complete and flexible
       platform fully oriented to the consumer.
      p Our interfaces and devices have a sophisticated and at the same time friendly interface.

      p To facilitate installation, we created intuitive tools and practices
       to reduce costs and minimize time.
