extends layout

block content
  h1 Contact Flex Automation:
    h2
      p Rua Piracuama, 280 - 1º floor
      P Perdizes - SP - Brazil
      p Phone: +55 11 2389-2777
      p  Copyright © 2017 Flex Automation
