extends layout

block content
  h1= title
    h2 WELCOME TO YOUR #{title}

  p To Release a new app key to an account, please click in "Release App Key".
  p To Delete an app key from any account, please click in "Delete App Key".
  p To know better about Flex Automation, please click in "About".
  p To get in touch with Flex Automation, please click in "Contact".
