doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          livfx nDVndGndgndgndgndgndg
            a(href="/releaseappkey") Release App Key
          li
            a(href="/deleteappkey") Delete App Key
          li
            a(href="/about") About
          li
            a(href="/contact") Contact

    section#wrapper
        block content
